<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
	     <rewrite>
            <rules>
                <rule name="Imported Rule 1">
                    <match url="^index(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="./index.php" />
                </rule>
                <rule name="Imported Rule 2">
                    <match url="^ajustes(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="./ajustes.php" />
                </rule>
                <rule name="Imported Rule 3">
                    <match url="^ajustes/(..*)$" ignoreCase="false" />
                    <action type="Rewrite" url="./ajustes.php?a={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 4">
                    <match url="^articles/(..*)$" ignoreCase="false" />
                    <action type="Rewrite" url="./articles.php?n={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 5">
                    <match url="^banned(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="./banned.php" />
                </rule>
                <rule name="Imported Rule 6">
                    <match url="^client(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="./client.php" />
                </rule>
                <rule name="Imported Rule 7">
                    <match url="^mantenimiento(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="./mantenimiento.php" />
                </rule>
                <rule name="Imported Rule 8">
                    <match url="^me(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="./me.php" />
                </rule>
                <rule name="Imported Rule 9">
                    <match url="^perfil/(..*)$" ignoreCase="false" />
                    <action type="Rewrite" url="./perfil.php?p={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 10">
                    <match url="^refer/(..*)$" ignoreCase="false" />
                    <action type="Rewrite" url="./refer.php?n={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 11">
                    <match url="^registro(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="./registro.php" />
                </rule>
                <rule name="Imported Rule 12">
                    <match url="^shop(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="./shop.php" />
                </rule>
                <rule name="Imported Rule 13">
                    <match url="^team(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="./team.php" />
                </rule> 
            </rules>
        </rewrite>	
		<httpErrors>
			<remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/error.php" responseMode="ExecuteURL" />
		</httpErrors>
    </system.webServer>
</configuration>
